apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: clickhouse
  namespace: stratometrics
spec:
  defaults:
    templates: 
      dataVolumeClaimTemplate: default
      podTemplate: clickhouse:23.11
  configuration:
    zookeeper:
      nodes:
      {% for i in range(0, clickhouse_keeper_helm_values.get('replicaCount', 3)) -%}
      - host: clickhouse-keeper-{{ (i+1) }}.clickhouse-keeper-headless
      {% endfor -%}
    clusters:
      - name: stratometrics
        layout:
          shardsCount: 2
          replicasCount: 2
  templates:
    volumeClaimTemplates:
      - name: default
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 512Gi
    podTemplates:
      - name: clickhouse:23.11
        spec:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: openstack-control-plane
                        operator: In
                        values:
                          - enabled
          containers:
            - name: clickhouse-pod
              image: "{{ atmosphere_images['clickhouse_server'] | vexxhost.kubernetes.docker_image('ref') }}"
